@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #232323;
  --darkGrey: rgba(35, 35, 35, 0.7);
  --grey: rgba(35, 35, 35, 0.5);
  --lightGrey: rgba(35, 35, 35, 0.3);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50;
}

body {
  overflow-x: hidden;
  scrollbar-width: 0px;
}

h1 {
  font-family: var(--font-customGrotesque);
  font-weight: 400;
  color: #000000;
  /* Create a radial gradient background */
  background: radial-gradient(circle at center, #000000 0%, #7b7b7b 100%);
  /* Ensure the text is transparent so we can see the gradient underneath */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Will override the color property on webkit browsers */
  display: inline-block; /* This can help ensure the gradient flows with the text */
  font-size: 4rem;
  letter-spacing: -2px;
  line-height: 100%;
}

h2 {
  font-family: var(--font-customGrotesque);
  font-weight: 400;
  color: var(--dark);
  font-size: 2.5rem;
  letter-spacing: -1px;
  line-height: 120%;
}

h3 {
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--dark);
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 105%;
}

p {
  font-family: var(--font-inter);
}

.text-body {
  font-size: 1.15rem;
  line-height: 155%;
  color: var(--darkGrey);
  font-family: var(--font-inter);
  letter-spacing: -0.5px;
}
button {
  font-family: var(--font-inter);
}

.sub-hero-text {
  font-size: 1rem;
  line-height: 155%;
  color: var(--darkGrey);
  font-family: var(--font-inter);
  letter-spacing: 3px;
}

.header-inter {
  font-family: var(--font-inter);
  font-weight: 300;
  color: var(--darkGrey);
  font-size: 2.5rem;
  letter-spacing: -1px;
  line-height: 120%;
}

.text-body-large {
  font-size: 1.5rem;
  line-height: 155%;
  color: var(--darkGrey);
  font-family: var(--font-inter);
  letter-spacing: -0.5px;
}

.text-brand {
  color: var(--grey);
  font-size: 0.9rem;
  text-transform: uppercase;
}

.nav-link {
  font-size: 0.9rem;
  line-height: 125%;
  color: var(--grey);
  font-family: var(--font-inter);
  letter-spacing: -0.5px;
}

.text-footer {
  font-size: 0.75rem;
  line-height: 125%;
  color: var(--lightGrey);
  font-family: var(--font-inter);
  /* letter-spacing: -0.5px; */
}

.footer-large-link {
  font-family: var(--font-customGrotesque);
  font-weight: 400;
  color: var(--dark);
  font-size: 2.5rem;
  letter-spacing: -1px;
  line-height: 110%;
}

.light-grey-text {
  font-size: 0.8rem;
  line-height: 125%;
  color: var(--lightGrey);
  font-family: var(--font-inter);
}

.text-body-small {
  font-size: 0.8rem;
  line-height: 125%;
  color: var(--darkGrey);
  font-family: var(--font-inter);
}

.text-body-small-dark {
  font-size: 0.8rem;
  line-height: 125%;
  color: var(--dark);
  font-family: var(--font-inter);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  gap: 8rem; /* Adjust the space between items as needed */
  animation: marquee 300s linear infinite;
}

.marquee-item {
  white-space: nowrap;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4.5rem;
    letter-spacing: -1px;
    line-height: 100%;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 0px;
  }
  h3 {
    font-size: 1.5rem;
  }
  .sub-hero-text {
    font-size: 1.25rem;
  }
  .text-body {
    font-size: 1rem;
  }
  .footer-large-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .sub-hero-text {
    font-size: 0.8rem;
    line-height: 155%;
    color: var(--darkGrey);
    font-family: var(--font-inter);
    letter-spacing: 3px;
  }
}
